@import "./assets/sass/fonts.scss";
@import "./assets/sass/theme.scss";
@import "./keyframes.css";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "f1";
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "f3";
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
  padding: 0;
}

.w-90 {
  width: 90%;
  margin: auto;
}

.w-95 {
  width: 95%;
  margin: auto;
}

.w-80 {
  width: 80%;
  margin: auto;
}

.w-70 {
  width: 70%;
  margin: auto;
}

// common design //
.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-al {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.d-flex-jc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-flex-al-jc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.d-flex-al-jb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

// common design end //
// button design //
.btn-design {
  background: $black;
  color: $white  !important;
  border-radius: 25px;
  padding: 7px 17px;

  a {
    font-size: 14px;
  }
}

.play-btn {
  background: $white;
  color: $primary1  !important;
  border-radius: 25px;
  padding: 5px 13px;
  width: 140px;
  display: flex;
  align-items: center;

  svg {
    color: $black;
  }
}

.play-btns {
  background: $white;
  color: $primary1  !important;
  border-radius: 25px;
  padding: 5px 24px;
  display: inline-block;
  border: 0;
}

// button design end//
// navbar design //
.navbar-design {
  img {
    width: 130px;
  }

  .navbar-toggler {
    padding: 4px 7px;
    background-color: $primary  !important;

    svg {
      font-size: 25px;
      color: $white  !important;
    }
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0;
    border: 0;
  }

  .nav-item {
    button {
      border: 0;
      background: transparent;
    }


    .nav-link {
      position: relative;
      color: $black;
      font-size: 14px;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 14%;
        width: 10px;
        margin: auto;
        background: $primary;
        height: 2px;
        transition: 0.5s all;
        opacity: 0;
      }

      &.active::after,
      &:hover::after {
        color: $black;
        width: 70%;
        transition: 0.5s all;
        opacity: 1;
      }
    }
  }
}

//navbar page end //

//home page design //
//Banner  design //
.home-pages {
  .bane-desin {
    background: linear-gradient(45deg, $primary1, $primary);
    height: 100%;
    padding: 20px 10px;

    .cont-des {
      .vr-line {
        color: $white;
        margin: 10px 0;

        h6 {
          font-family: "f2";
          margin: 0;
          padding-left: 10px;
          font-size: 18px;
          text-transform: uppercase;
        }

        .vr {
          background-color: $white;
          width: 2px;
          opacity: 1;
        }
      }

      .movi-bane {
        h1 {
          color: $white;
          font-family: "f3";
        }

        p {
          color: $white;
          opacity: 0.8;
        }

        li {
          color: $white;
          margin: 8px 0;
        }
      }
    }

    .movie-box {
      .image-box {
        text-align: center;
        position: relative;
        background: $black;
        border-radius: 8px;
        margin: auto;

        img {
          opacity: 0.7;
          border-radius: 8px;
        }

        .abs-box {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: 40px;

          svg {
            animation: ripples 2s infinite;
            border-radius: 100%;
          }

          h6 {
            margin: 10px 0;
          }
        }
      }

      .pop-week {
        h3 {
          color: $white;
          font-family: "f3";
        }

        .owl-desig {
          text-align: center;

          p {
            color: $white;
            margin: 10px 0;
            opacity: .6;
          }

          img {
            // height: 15vh;
            object-fit: cover;
          }
        }

        .owl-item {
          transform: translate3d(0, 0, 0);

          .item {
            img {
              transform: scale(0.8);
            }
          }

          &.center {
            img {
              transform: scale(1.15);
            }
          }
        }
      }
    }
  }

  //entertaiment //
  .home-enter {
    h3 {
      text-align: center;
      color: $primary;
      text-shadow: 0px 3px 2px #222222;
    }

    a {
      color: $black  !important;
    }

    .pop-movie {
      position: relative;

      &::after {
        position: absolute;
        right: -12px;
        top: 12px;
        content: "";
        background: $white;
        box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
        border-radius: 8px;
        height: 100%;
        width: 100%;
      }

      img {
        border-radius: 8px;
        position: relative;
        z-index: 1;
        // object-fit: cover;
        // min-height: 220px;
      }
    }

    .movi-time {
      h6 {
        font-family: "f2";
        font-size: 18px;
      }

      p {
        margin-bottom: 5px;

        span {
          color: $primary;
          padding-left: 8px;

        }
      }
    }
  }

  //entertaiment end //
  .founder-des {
    background: #fe9d9e;
    padding: 30px 15px;

    .left-font {
      .fd-box {
        background: linear-gradient(45deg, $primary1, $primary);
        color: $white;
        padding: 15px;
        border-radius: 10px;
        margin-top: -49px;
        position: relative;
        margin-left: 40px;
        width: 80%;
      }
    }

    .about-home {
      background: linear-gradient(45deg, $primary1, $primary);
      color: $white;
      padding: 25px;
      border-radius: 10px;
      height: 100%;
      width: 70%;
      margin: auto;

      h2 {
        text-shadow: 0px 3px 2px #222222;
        margin: 12px 0;
      }

      li {
        margin: 10px 0px;

        svg {
          margin-right: 8px;
        }
      }

      p {
        text-align: justify;
        line-height: 1.8;
      }
    }
  }



  .capb-bg {
    background: url(../src/assets/img/cap.jpg) no-repeat #000;
    background-size: cover;
    height: 50vh;
    background-position: center;
    padding: 40px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      text-align: center;
      color: $primary;
      text-shadow: 0px 3px 2px #222222;
      font-size: 25px;
    }

    P {
      width: 80%;
      margin: auto;
      color: $white;
      line-height: 2;
    }
  }
}

.lates-ses {
  .owl-item {
    margin-bottom: 10px;
  }
}

.news-session {
  box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
  border-radius: 8px;

  .new-img {
    // height: 250px;

    img {
      // min-height: 250px;
      // height: 100%;
      // object-fit: cover;
      width: 100%;
    }
  }

  h5 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    color: $black  !important;
  }
}

.news-design {
  padding: 26px 10px 10px 10px;
  position: relative;

  p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.8;
    opacity: 0.6;
    color: $black  !important;

  }

  .new-dates {
    background: $primary;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    top: -16px;
    right: 16px;

    h6 {
      color: $white;
      margin-bottom: 0;
    }
  }
}

//Banner  design end //

//home page design end//

// footer design //
.footer-design {
  background: linear-gradient(45deg, $primary1, $primary);
  padding: 20px 10px;
  color: $white;

  .fote-design {
    img {
      width: 100px;
      filter: invert(2);
    }

    li {
      margin: 12px 0;

      a {
        color: $white;
        font-size: 15px;
      }
    }
  }

  .soci-design {
    ul {
      li {
        padding: 0 5px;

        a {
          color: $white;

          svg {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// footer end //

// Entertainment page //
.entertain-pages {
  h2 {
    color: $primary;
    text-shadow: 0px 3px 2px #222222;
  }

  .carousel-design {

    .carousel-control-next,
    .carousel-control-prev {
      width: 0%;
    }

    .carousel-item {
      background: $black;

      img {
        opacity: 0.4;
      }
    }

    .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      border: 3px solid $primary1;
      border-radius: 100%;
      padding: 1px;
      background-color: $primary;
    }
  }

  .poular-movie {
    .pop-enter {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      background: rgb(235 52 52);
      height: 250px;

      img {
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        width: 100%;
      }

      .hover-cont {
        position: absolute;
        bottom: 0px;
        left: 0;
        padding: 19px;
        color: #fff;
        width: 100%;
        height: 35%;
        transition: 0.5s all;

        h6 {
          margin: 10px 0;
        }

        p {
          margin: 5px 0;

          svg {
            margin: 0 5px;
          }

          .img-width {
            width: 20px;
            margin: 0 5px;
          }
        }

        h3 {
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          font-family: "f2";
          font-size: 20px;
        }



        .play-design {
          text-align: center;
          display: none;
          margin: 10px 0;

          svg {
            font-size: 40px;
          }
        }
      }

      &:hover {
        .hover-cont {
          height: 70%;

          .play-design {
            display: block;
          }
        }

        img {
          opacity: 0.6;
        }
      }
    }
  }

  .seel-movie {
    h3 {
      color: $primary;
    }

    a {
      svg {
        margin: 0 10px;
      }
    }
  }

  .carousel-caption,
  .con-abols {
    padding-top: 0;
    padding-bottom: 0;
    right: auto;
    bottom: auto;
    left: 10%;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: start;
    width: 80%;
    position: absolute;
    color: $white;

    h1 {
      text-shadow: 0px 3px 2px #ffffffb8;
    }
  }

  .baner-deisng {
    position: relative;
    background: $black;

    img {
      opacity: 0.4;
    }
  }

  .video-play {
    background: $black;
    padding: 20px;

    video {
      width: 100%;
      height: 80vh;
    }
  }

  .movi-descrip {
    h6 {
      color: $primary;
    }

    .mov-des {
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 6px;
        }
      }

      .red-tex {
        li {
          color: $primary;
        }
      }
    }
  }

  .ban-action {
    background: $black;
    position: relative;

    img {
      width: 100%;
      opacity: 0.5;
    }

    h3 {
      color: $white;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

// Entertainment end //

// talent register   //
.talent-regis {
  background: url(../src/assets/img/train.jpg) no-repeat #000;
  background-size: cover;
  height: 100%;
  padding: 30px 15px;
  background-position: center;

  h2 {
    color: $white;
    text-align: center;
  }

  .from-des {
    padding: 20px;
    background: #0f1013c9;
    border-radius: 8px;

    h3 {
      color: $primary;
      text-align: center;
    }

    label {
      color: $white;
      margin: 7px 0;
    }
  }

  .form-control {
    color: #fff;
    background-color: #221f1f75;
    border: 1px solid #4b4b4b;
    padding: 10px 12px;

    &:focus {
      color: #fff;
      background-color: #221f1f75;
      border-color: #4b4b4b;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    }
  }
}

// talent register   //
// talet hub //
.talenthub-pages {
  .filter-design {
    background: url(../src/assets/img/talent.jpg) no-repeat #000;
    background-size: cover;
    height: 100%;
    padding: 80px 15px;
    background-position: center;

    h2 {
      color: $white;
      text-align: center;
    }

    label {
      color: $white;
      margin: 7px 0;
    }

    .form-select,
    .form-control {
      color: rgb(255 255 255 / 54%);
      background-color: rgb(7 14 30 / 61%);
      border: 1px solid #4b4b4b;
      background-image: url(../src/assets/img/down-arrow.png);
      padding: 10px 12px;
      font-size: 15px;

      &:focus {
        color: #fff;
        background-color: rgb(7 14 30 / 61%);
        border-color: #4b4b4b;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
      }
    }

    .accordion-body,
    .accordion-button {
      color: #fff;
      background-color: rgb(7 14 30 / 61%);
      border: 1px solid #4b4b4b;

      &:focus {
        color: #fff;
        background-color: rgb(7 14 30 / 61%);
        border-color: rgb(75 75 75);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
      }

      &:after {
        filter: invert(105) brightness(20.5);
      }
    }

    .accordion-button:not(.collapsed) {
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
    }

    .accordion-item {
      border: 0;
      background: #070e1e00;
    }
  }

  .find-talent {
    h3 {
      color: $primary;
      text-align: center;
    }

    .proje-boxs {
      background: $white;
      box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
      border-radius: 8px;
      text-align: center;
      padding: 25px;
      border: 1px solid rgba(13, 110, 253, 0.25);
      position: relative;
      overflow: hidden;
      transition: .4s all;
      height: 100%;

      .prj-img {
        width: 70%;
        margin: auto;
        z-index: 1;
        position: relative;
      }

      .abs-img {
        position: absolute;
        right: -98px;
        width: 100%;
        top: -65px;
        opacity: 0.5;
        // transform: rotate(344deg);

      }

      h6 {
        margin-top: 10px;
        font-family: "f2";


      }

      &:hover {
        border: 1px solid $primary;
        transition: .4s all;

        h6 {

          color: $primary;
        }
      }
    }
  }



  .profi-box {
    img {

      box-shadow: 0px 10px 20px rgba(48, 124, 255, 0.15);
      padding: 10px;
      border-radius: 9px;
    }

    h6 {
      font-size: 18px;
      font-family: "f2";
      text-align: center;
      margin-top: 10px;
    }
  }

  .prof-detail {
    h3 {
      color: $primary;
    }

    .acto-table {


      p {
        text-align: center;
        width: 20%;
      }

      table {

        td,
        th {
          margin: 5px 0;
        }

        td {
          opacity: .7;
          font-family: "f2";
        }
      }
    }

    .my-bio {
      p {
        font-size: 15px;
        line-height: 1.7;
      }

      .box-design {
        box-shadow: 0px 10px 20px rgba(48, 124, 255, 0.15);
        padding: 10px;
        border-radius: 9px;
        text-align: center;
        border: 1px solid rgba(48, 124, 255, 0.25);

        h4 {
          margin: 10px 0;
        }
      }
    }
  }
}

.baner-design {
  position: relative;

  h5 {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: $white;
  }
}

// talet hub end//
// news design //
.news-page {
  .bage-img {
    position: relative;

    h5 {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-size: 30px;
      color: $white;
    }
  }

  .other-news {
    h3 {
      color: $primary;
      text-align: center;
      text-shadow: 0px 3px 2px #222222;
    }

  }

  .title-nes {

    h6 {
      color: $primary;
    }

    .video-play {
      video {
        width: 100%;
      }
    }
  }

  .recent-news {
    box-shadow: 0px 10px 20px rgba(48, 124, 255, 0.15);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgb(48 124 255 / 28%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    img {
      height: 100px;
      width: 100px;
      border-radius: 6px;

    }

    h5 {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      font-family: "f2";
      font-size: 18px;
      color: $black;
    }

    p,
    h4 {
      color: $primary;
    }

    .bor-botn {
      border-bottom: 1px solid #8787873d;

      &:last-child {
        border-bottom: 0px solid;
      }
    }
  }
}

// news design end //
// About us //
.about-pages {
  .about-us {
    img {
      width: 100%;
    }

    h6 {
      font-family: "f2";
    }

    h4 {
      color: $primary;
    }

    p {
      text-align: justify;
      font-size: 15px;
      line-height: 1.9;
    }
  }

  .cou-des {
    text-align: center;

    svg {
      font-size: 30px;
      color: $primary;
    }

    h5 {
      margin: 10px 0;
      font-size: 25px;
    }
  }


}

.test-design {
  background: linear-gradient(45deg, $primary1, $primary);
  height: 100%;
  padding: 20px 10px;
  text-align: center;
  color: $white;

  .test-movie {
    position: relative;

    img {
      width: 100px !important;
      height: 100px;
      border-radius: 100%;
      margin: auto;
    }

    svg {
      color: $white;
      background-color: #1a1d24;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      padding: 10px;
      position: absolute;
      bottom: -10px;
      left: 45%;
    }
  }

  h5 {
    color: $white;
    font-family: "f2";
    font-size: 15px;
  }

  h6 {
    color: $white;
    font-size: 13px;
    opacity: .7;
  }

  p {
    color: $white;
    font-size: 18px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.8;
  }
}

.des-monal {
  .modal-header {
    background: transparent;
    padding: 0;
    position: absolute;
    border: 0;
    background: $white;
    right: -4px;
    top: -10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;

    justify-content: center;

    .btn-close {
      padding: 0;
      position: absolute;
      left: 8px;
      opacity: 1;
    }
  }
}

// About us  end//
// live shows//
.live-shows {
  .fit-ction {
    h3 {
      color: $primary;

    }

    .yout-vied {
      box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
      border-radius: 8px;
      padding: 10px;
      // height: 250px;
      // overflow: hidden;
      // border: 1px solid rgb(48 124 255 / 35%);

      img {
        width: 100%;
        border-radius: 8px;
      }

      h5 {
        margin-top: 10px;
        text-align: center;
        color: $black;
        font-family: "f2";
      }
    }
  }

  .vid-play {
    background: #000;
    padding: 20px;
    text-align: center;

    iframe {
      width: 90%;
      height: 500px;
    }
  }
}

// live shows end//