@import "./assets/sass/fonts.scss";
@import "./assets/sass/theme.scss";

@media (max-width: 991px) {
  .navbar-design {
    .min-nav {
      position: absolute;
      right: -150px;
      top: 50px;
      background: #dadada;
      padding: 10px 20px;
      transition: 0.2s all;
      z-index: 11;
      width: 190px;
      &.show {
        right: 0;
        transition: 0.2s all;
      }
    }
    .nav-link {
      &::after {
        left: 0%;
      }
      &.active::after,
      &:hover::after {
        width: 30%;
      }
    }
  }
  .about-home {
    width: 100% !important;
  }
  .entertain-pages {
    .video-play {
      video {
        height: auto;
      }
    }
  }
}
@media (max-width: 767px) {
  .entertain-pages {
    .carousel-item,
    .baner-deisng {
      height: 60vh;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
@media (max-width: 576px) {
  .movie-box {
    .pop-week {
      .owl-desig {
        img {
          height: auto !important;
          width: 80% !important;
          margin: auto;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    .nav-link {
      padding-left: 11px !important;
      padding-right: 11px !important;
    }
  }
}
