@font-face {
    font-family: "f1";
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
  }
  @font-face {
    font-family: "f2";
    src: url("../fonts/AvenirNextLTPro-Medium.otf");
  }
  @font-face {
    font-family: "f3";
    src: url("../fonts/AvenirNextLTPro-Bold.otf");
  }